$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #ffff;
$color-black: #0000;
$color-grey-light-1: #f7f7f7;

//GRID-VARIABLES

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
